[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "gdsml-vscode"]
	path = gdsml-vscode
	url = https://github.com/miwubunz/gdsml-vscode.git
